body {
    background: radial-gradient(#04214d,#021024);
    width:auto;
    height:100%;
    margin: 0;
    padding: 1px 10px 1px 10px;
    box-sizing: border-box;
}
.wrapper {
    display: flex; /* Create a vertical flex container */
    flex-direction: column; /* Stack child containers vertically */
    align-items: center; /* Center child containers horizontally */
    justify-content: center; /* Center child containers vertically */
    height: 100vh; /* Ensure the wrapper takes up the full viewport height */
}
.wrapper2 {
    display: flex; /* Create a vertical flex container */
    flex-direction: row;
}
.container1 {
    padding: 20px;
    width: 300px;
    margin: 10px;
}
.container2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    margin: 10px;
   
}
.container3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    padding: 20px;
    width: 300px;
    margin: 10px;
}
.container4 {
    height: 200px;
}
.container5 {
    height: 400px;
}
.container6 {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 300px;    
}
.container-left {
    font-family: 'Varela Round', sans-serif;
}
.container-right {

}
.button {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
    color: white;
    background-color: #FFC736;
    border: none;
    border-radius: 40px;
    margin-top: 150px;
    white-space: nowrap;
}
.button2 {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    color: white;
    background-color: #FFC736;
    border: none;
    border-radius: 40px;
    margin-top: 10px;
    white-space: nowrap;
}
.button3 {
    margin-top: 130px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    width: fit-content;
    border: none;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    text-shadow:1px 1px 12px #ffc636;
    background-color: transparent;
}
h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 96px;
    color: #fff; /* Make the text transparent */
    text-shadow:1px 1px 12px #ffc636;
}
h2 {
    font-family: 'Varela Round', sans-serif;
    font-size: 70px;
    margin-top: 130px;
    color: #fff;
    text-shadow:1px 1px 10px #ffc636;

}
.header-center {
    position: absolute;
    top:40%;
    left:35%;
    transform: translate(-50%,-50%);
}
.center {
    position: absolute;
    top:45%;
    left:70%;
    transform: translate(-50%,-50%);
}
.cloud {
    background: #f9fdff;
    width: 300px; 
    height: 100px;
    border-radius: 150px;	
    box-shadow: 5px 10px rgba(149, 170, 205, 0.2);
}
.cloud:after {
    content: '';
    background: #f9fdff;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -50px;
    right: 50px;
}
.cloud:before {
    content: '';
    background: #f9fdff;
    position: absolute;
    width: 170px;
    height: 150px;
    border-radius: 50%;
    top: -90px;
    left: 40px;
}
.moon {
    position: absolute;
    margin: auto;
    top: -140px;
    right: -50px;
    width: 80px;
    height: 80px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: -25px 10px 0px 0px #FFC736;
    animation: moonPath 15s infinite;
}
.sun {
    position: absolute;
    margin: auto;
    top: -130px;
    right: -30px;
    width: 80px;
    height: 80px;
    border-radius: 50%; /* Makes it a circle */
    background-color: #FFC736;
    animation: sunPath 15s infinite;
}
.user-input {
    width: 900px;
    height: 300px;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    margin-top: 30px;
}
#api-result {
    font-size: 25px;
}
@keyframes moonPath {
    0% {
        transform: translateX(-100px) translateY(95px);
    }
    25% {
        transform: translateX(0) translateY(0);

    }
    50% {
        transform: translateX(-100px) translateY(95px);
    }
    75% {
        transform: translateX(-100px) translateY(95px);
    }
    100% {
        transform: translateX(-100px) translateY(95px);

    }
}
@keyframes sunPath {
    0% {
        transform: translateX(-100px) translateY(95px);
    }
    25% {
        transform: translateX(-100px) translateY(95px);

    }
    50% {
        transform: translateX(-100px) translateY(95px);
    }
    75% {
        transform: translateX(0) translateY(0);
    }
    100% {
        transform: translateX(-100px) translateY(95px);
    }
}

